@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}
header {
  background-color: #2b3844;
  padding: 24px 0px;
  box-shadow: 1px 2px 4px 10px #0000000e;
}
header a:nth-child(1) {
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 800;
  line-height: 32.74px;
  color: white;
  transition: 1s;
}
header a:nth-child(2) {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  color: white;
  transition: 1s;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
}
main {
  background-color: #202c36;
  padding-top: 48px;
}
#i1 {
  color: white;
  position: absolute;
  top: 148px;
  left: 60px;
  transition: 1s;
}
.input {
  width: 480px;
  height: 56px;
}
.input input {
  background-color: #2b3844;
  position: relative;
  color: white;
  border: none;
  padding: 18px 270px 18px 52px;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8";
  justify-content: space-around;
  padding-top: 48px;
  grid-gap: 54px;
  padding-bottom: 131px;
}
.card1 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card1;
}
.card1 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card1 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card2 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card2;
}
.card2 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card2 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card3 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card3;
}
.card3 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card3 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card4 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card4;
}
.card4 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card4 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card5 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card5;
}
.card5 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card5 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card6 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card6;
}
.card6 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card6 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card7 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card7;
}
.card7 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card7 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card7 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card7;
}
.card7 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card7 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
.card8 {
  background-color: #2b3844;
  width: 267px;
  height: 250px;
  border-radius: 10px;
  grid-area: card8;
}
.card8 img {
  width: 267px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card8 p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: white;
  text-align: center;
  margin-top: 27px;
}
@media (max-width: 834px) {
  header a:nth-child(1) {
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 800;
    line-height: 24.55px;
    transition: 1s;
  }
  header a:nth-child(2) {
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24.55px;
    transition: 1s;
  }
  .container {
    width: 97%;
    transition: 1s;
  }
  .input {
    width: 768px;
    height: 101px;
  }
  .input input {
    padding: 40px 432px 40px 118.14;
  }
  #i1 {
    top: 138px;
    left: 30px;
    font-size: 20px;
    transition: 1s;
  }
  .grid {
    flex-wrap: wrap;
    display: flex;
    
  }
}
@media (max-width: 375px) {
  header a:nth-child(1) {
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    transition: 1s;
  }
  header a:nth-child(2) {
    font-family: "Nunito Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 16.37px;
    transition: 1s;
  }
  .container {
    width: 98%;
    transition: 1s;
  }
  .input {
    width: 343px;
    height: 48px;
  }
  .input input {
    padding: 14px 105px 14px 74px;
  }
  #i1 {
    top: 133px;
    font-size: 15px;
  }
}
